
.first_text{
    color: rgb(128, 93, 93);
    position: absolute;
    margin-left: 20px;
    margin-top: 28px;
}

.june{
    color: rgb(128, 93, 93);
    position: absolute;
    margin-left: 20px;
    margin-top: 60px;
}

.head_photo{
    position: absolute;
    width: 550px;
    border: 4px solid black;
    margin-left: 865px;
    margin-bottom: 300px;
    top: 10px;
}

.about_text_top{
    color: rgb(128, 93, 93);
    position: absolute;
    margin-left: 600px;
    margin-top: 60px;
}

   

.skills{
    color: rgb(128, 93, 93);
    position: absolute;
    margin-left: 130px;
    margin-top: 80px;
    
}

.about{
    font-size: 13px;
    position: absolute;
    margin-top: 75px;
    margin-left: 450px;
    max-width: 350px;           
    padding: 30px;             
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.skill_list{
    font-size: 13px;
    position: absolute;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-top: 125px;
    margin-left: 95px;
}